extends base.pug


block scripts
  script(src='/static/index.min.js')


block main
  p group count #{data.group_count}
  p item count #{data.item_count}

  ul
    each group in data.groups
      li
        a(href="/group/" + group._id) #{group.name}
    else
      li There are no groups.
